{% extends 'tours/base.html' %}
{% block content %}
{% load min_max %}

<main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{ dep_city }}</h1>
    <p class="mb-4">Найдено {{ prices|length }} туров, стоимостью от {{ prices|min_val }} до {{ prices|max_val }} и прибыванием от {{ nights|min_val }} ночей до {{ nights|max_val }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour_id, tour_args in tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour_args.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour_args.title }}</h2>
            <p class="card-text">{{ tour_args.description }}</p>
            <a href="{% url 'tours' tour_id %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

{% endblock content %}
